<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/blablacool</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="info.fges.blablacool.models.User"/>
        <mapping class="info.fges.blablacool.models.Place"/>
        <mapping class="info.fges.blablacool.models.Trip"/>
        <mapping class="info.fges.blablacool.models.TripHasPlaces"/>
        <mapping class="info.fges.blablacool.models.TripHasPlacesId"/>
        <mapping class="info.fges.blablacool.models.Car"/>
        <mapping class="info.fges.blablacool.models.Role"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>